@import "tailwindcss";

:root {
  --background: #f3f3eb;
  --foreground: #fdfaf5;
  --primary: #b98d2b;
  --text-light: #f1e7db;
  --text-dark: #162d25;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-text-light: var(--text-light);
  --color-text-dark: var(--text-dark);
  --font-monsterrat: var(--font-montserrat);
  --font-playfair-display: var(--font-playfair-display);
}

html {
  scroll-behavior: smooth;
}

body {
  background: #fff;
  color: var(--text-dark);
  font-family: var(--font-montserrat);
}

.hero-bg {
  background-image: url("../public/assets/home/hero.jpg");
}

.cta-bg {
  background-image: url("../public/assets/cta.jpg");
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
