@import "tailwindcss";

:root {
  --background: #f3f3eb;
  --foreground: #fdfaf5;
  --primary: #b98d2b;
  --text-light: #f1e7db;
  --text-dark: #162d25;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-text-light: var(--text-light);
  --color-text-dark: var(--text-dark);
  --font-monsterrat: var(--font-montserrat);
  --font-playfair-display: var(--font-playfair-display);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat);
}

.hero-bg {
  background-image: url("../public/assets/home/hero.jpg");
}
